.aspectwrapper {
  display: inline-block; /* shrink to fit */
  width: 90%;           /* whatever width you like */
  height: 90%;           /* whatever width you like */
  position: absolute;    /* so .content can use position: absolute */
  margin: auto;
  top: 0; bottom: 0; right: 0; left: 0;  /* follow the parent's edges */
}
.content {
  max-width: 100%; max-height: 100%;
  position: absolute;
  margin: auto;
  top: 0; bottom: 0; right: 0; left: 0;  /* follow the parent's edges */
}

div#titleblock {
  top: 10%;
  bottom: 70%;
  display: table;
  background: #fff;
  color: #000;
  opacity: 0.50;
}
.titles {
  vertical-align: middle
}
.titletext {
  text-align: left;
  font-size: 24pt;
  font-family: OCR A Std, monospace;
}
.subtitletext {
  text-align: left;
  font-size: 18pt;
  font-family: OCR A Std, monospace;
}
