@font-face {
    font-family: 'Conthrax';
    src: url("assets/conthrax-sb.ttf");
}
$titlecolor: #3f3f3f;
$textcolor: #7f7f7f;
div.root-float {
    max-width: 1024px;
    margin: 0 auto;
}
div.home-root {
    max-width: 960px;
    margin: 0 auto;
}
h1 {
    font-family: 'Conthrax';
    color: $titlecolor;
    position: relative;
    top: 24px;
}
img.logo {
    padding-left: 48px;
    padding-top: 16px;
}
div.logo-title-block {
    float: right;
    height: 100%;
}
div.logo-img-block {
    float: left;
    min-height: 100%;
    width: auto;
}
div.logo-block {
    height: 96px;
    max-width: 580px;
    text-align: center;
}
div.nav-bar {
    height: 56px;
    width: 300px;
    float: right;
}
div.break-bar {
    height: 56px;
    width: 100%;
    background-color: $titlecolor;
}
nav.nav-bar {
    float: right;
}
.dropdown-toggle, .dropdown-item {
    font-family: Arial;
}
.dropdown-toggle {
    color: #ffffff;
    font-weight: bold;
}
div.carousel-caption {
    font-family: Arial;
    font-weight: bold;
    bottom: 20%;
    top: 20%;
    font-size: 2rem;
}
h2.home-title {
    font-family: Arial;
    font-stretch: condensed;
    font-size: 4rem;
    color: $textcolor;
    text-align: center;
    margin-bottom: 0px;
}
div.home-image-blocks {
    padding: 16px;
}
div.home-title-block {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
h3.home-image-caption {
    font-family: Arial;
    font-size: 2rem;
    color: $textcolor;
    text-align: center;
    padding-top: 20px;
}
div.datamgmt-image-block {
    width: 152px;
    margin: 0 auto;
}
div.impact-image-block {
    width: 139px;
    margin: 0 auto;
}
div.solve-image {
    max-width: 576px;
    margin: 0 auto;
    padding: 20px;
}
div.home-text-block, hr.home-divider {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}
p.home-text {
    font-family: Arial;
    text-align: center;
}
div.root-footer {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background: #3f3f3f;
}
div.footer-root {
    max-width: 70%;
    margin: 0 auto;
}
p.footer-text {
    font-family: Arial;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0px;
}
