@import 'variables';

a {
  &:hover {
    text-decoration: none;
  }
}
div[class$="-text-block"], hr[class$="-divider"] {
    padding: 20px;
}
p[class$="-text"] {
    font-family: Arial;
}
img[class$="-image"]:not(.home-image) {
    box-shadow: 1px 1px 3px -1px $shadowcolor;
}
[class$="-title"] {
    font-family: Arial;
    font-stretch: condensed;
    margin-bottom: 0px;
    padding: 20px;
    font-weight: bold;
    color: $brandcolor;
}
h2[class$="-title"] {
    font-size: 5rem;
}
h3[class$="-title"] {
    font-size: 4rem;
}
h4[class$="-title"] {
    font-size: 3rem;
}
h5[class$="-title"] {
    font-size: 2rem;
}
