$titlecolor: #3f3f3f;
$textcolor: #666666;
$quotecolor: #f8f8f8;
$inversetextcolor: #fff;
$brandcolor: rgb(147,194,205);
$brandcolorlight: rgba(147,194,205,0.5);
$shadowcolor: rgba(0,0,0,0.5);
$imagesize: 300px;
$headermargin: 11px;
