.Mission {
  .Mission-image {
    float: right;
    width: 390px;
    height: 100%;
    margin: 23px 0 10px 2rem;
    object-fit: contain;
  }
  .Mission-divider {
    display: none;
  }
  .block-2 > .Mission-text-block {
    border-bottom: solid 1px rgba(0,0,0,0.1);
    overflow: hidden;
  }
  width: 80%;
  margin: 0 auto;
}
